html {
    font-size: 62.5%;
}

* {
    padding: 0px;
    margin: 0px;
}


/*  HEADER  */

header {
    background-color: #fff;
    position: fixed;
    width: 50px;
    transition: 0.6s;
    width: 275px;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid rgba(197, 197, 197, 0.45);
}

header:hover {
    width: 230px;
}

.sidebar img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    float: left;
}

.sidebar ul li a {
    font-size: 16px;
    display: flex;
    height: 6rem;
    line-height: 40px;
    text-decoration: none;
    font-weight: 600px;
    padding-left: 10px;
    transition: .4s;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid rgba(197, 197, 197, 0.45);
    border-bottom: 1px solid rgba(197, 197, 197, 0.45);
}

.sidebar ul li a .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li:hover a {
    padding-left: 50px;
}

.div-categorias {
    background-color: #67c8f1;
}

.final-service {
    margin-top: 460px;
}


/*  NAV   */

nav {
    background-color: blue;
    margin-left: 50px;
}


/*ARTICLE*/

article {
    height: 50rem;
    width: auto;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    height: 30rem;
    border: .3rem solid black;
    border-radius: 1rem;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.container a{
    font-size: 2.5rem; 
    text-decoration: none;
    color: white;
    
  }
.button-container{
    display: block;
    width: 100%;
    background-color: red;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

 .product-container{
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-around;
}