/* GOOGLE FONTS - POPPINS*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Readex+Pro:wght@400;600&family=Roboto+Slab:wght@600&family=Rubik+Puddles&display=swap');
html {
    font-size: 62.5%;
}

* {
    padding: 0px;
    margin: 0px;
}


/*  HEADER  */

header {
    background-color: #fff;
    position: fixed;
    width: 50px;
    transition: 0.6s;
    width: 275px;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid rgba(197, 197, 197, 0.45);
}

header:hover {
    width: 230px;
}

.sidebar img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    float: left;
}

.sidebar ul li a {
    font-size: 16px;
    display: flex;
    height: 6rem;
    line-height: 40px;
    text-decoration: none;
    font-weight: 600px;
    padding-left: 10px;
    transition: .4s;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid rgba(197, 197, 197, 0.45);
    border-bottom: 1px solid rgba(197, 197, 197, 0.45);
}

.sidebar ul li a .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li:hover a {
    padding-left: 50px;
}

.div-categorias {
    background-color: #67c8f1;
}

.final-service {
    margin-top: 460px;
}


/*  NAV   */

nav {
    bckground-color: #4070f4;
    margin-left: 50px;
}

.nav-div {
    padding-top: 10px;
}

.logo {
    margin-left: 20px;
    width: 140px;
    height: 150px;
}

.buscador {
    width: 401px;
    height: 42px;
    outline: none;
    order: none;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    isplay: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-color: rgba(180, 180, 180, 0.45);
}

.search {
    right: 80px;
    height: 100%;
    ackground-color: black;
}

#iconos {
    font-size: 26px;
}


/*ARTICLE*/

article {
    height: 50rem;
    width: auto;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    height: 30rem;
    border: .3rem solid black;
    border-radius: 1rem;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.container a{
    font-size: 2.5rem; 
    text-decoration: none;
    color: white;
    
  }
.button-container{
    display: block;
    width: 100%;
    background-color: red;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

 .product-container{
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-around;
}